{{define "header.html"}}
    <head>
        <title>{{ . }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!--Font-->
        <link href="/css/font.rubik.css" rel="stylesheet">
        
        <!--Bootstrap-->
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <script defer src="/js/bootstrap.bundle.min.js"></script>

        <!--Feather Icons-->
        <script defer src="/js/feather.min.js"></script>

        <!--Other assets-->
        <link rel="stylesheet" href="/css/main.css">
        <script defer src="/js/main.js"></script>
    </head>
{{end}}