<!DOCTYPE html>
<html lang="it">
    <!-- Header -->
    {{template "header.html" .title}}
    <body>
        <div class="container p-0 overflow-hidden">
            <div class="row p-3 w-100 mx-auto">
                <div class="col-12">
                    <!-- Search -->
                    <div class="input-group d-flex pb-3 z-2">
                        <input id="search-keyword" class="form-control rounded-start-4" style="flex-grow: 13;" type="text" placeholder="Cerca">
                        <select id="search-field" class="form-select" style="flex-grow: 5;">
                            <option selected value="1">Titolo</option>
                            <option value="2">Descrizione</option>
                            <option value="3">Titolo e Descrizione</option>
                        </select>
                        <button id="search-button" type="button" style="flex-grow: 0.3;" class="btn rounded-end-4 border-start-0 btn-success">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="main-grid-item-icon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                <circle cx="11" cy="11" r="8" />
                                <line x1="21" x2="16.65" y1="21" y2="16.65" />
                            </svg>
                        </button>
                    </div>

                    <!-- Todo list -->
                    <div id="list" class="z-0 list-group rounded-4">
                        <h2 class="mx-auto mt-3">Caricamento in corso...</h2>
                    </div>
                </div>
            </div>
        </div>

        <!-- Toast used for notification -->
        <div id="notifyToast" class="toast tex align-items-center position-fixed border-0 top-0 start-50 translate-middle-x mt-3 z-3 rounded-4 mw-75 min-vw-25" role="alert" aria-live="assertive" aria-atomic="true">
            <div id="notifyToastBody" class="toast-body text-center m-0"></div>
        </div>
    </body>
</html>